body {
  margin-left: 40px;
  margin-right: 40px;

}

a:hover {
  color: rgb(38, 125, 255);

}

img {
  max-width: 100%;

}

.main {
  text-align: center;
}


section {
  display: flex;
  gap: 12px;
  flex-direction: row;
  flex-wrap: wrap;
}

article:nth-of-type(0) {
  flex: 7;
}

footer {
  display: flex;
  background-color: #f8f9fa;
  text-align: center;
  border-radius: 4em;
}

article {
  padding: 40px;
  margin-bottom: 10px;
  background: white;

}

.row {
  margin-top: 10px;

}

h1 {
  text-align: center;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}


form {
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

h2 {
  text-align: center;
}

label {
  display: inline-block;
  width: 0px;
  text-align: left;
}

input {
  margin: 0.4rem;
}

textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;

  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}

input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  color: #fff;
  position: relative;
}

input[type="date"]::-webkit-datetime-edit-year-field {
  position: absolute !important;
  border-left: 1px solid #8c8c8c;
  padding: 2px;
  color: #000;
  left: 56px;
}

input[type="date"]::-webkit-datetime-edit-month-field {
  position: absolute !important;
  border-left: 1px solid #8c8c8c;
  padding: 2px;
  color: #000;
  left: 26px;
}


input[type="date"]::-webkit-datetime-edit-day-field {
  position: absolute !important;
  color: #000;
  padding: 2px;
  left: 4px;

}