body {
    margin-left: 40px;
    margin-right: 40px;

}

a:hover {
    color: rgb(38, 125, 255);

}

img {
    padding: 10px;
    width: 200px;

}


section {
    display: flex;
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    flex: 3;
    border-radius: 4em
}

article:nth-of-type(0) {
    flex: 7;
}

footer {
    text-align: center;
    border-radius: 3em; 
    background: rgb(163, 124, 124);
    margin-top: auto;
}
